:root {
    --art-width: 180px;
    --art-height: 250px;
}

.track-container {
    position: relative;
    width: var(--art-width);
    height: var(--art-height);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(87, 85, 85, 0.283);
    margin: 30px 10px;
    box-shadow: 0 0 9px rgba(45, 43, 57, 0.437);
    cursor: pointer;
}

.track-container img {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    object-fit: cover;
    border-radius: 8px
}

.track-image-container {
    width: 100%;
    height: var(--art-width);
    text-align: center;
    overflow: hidden;
}

.track-name-container {
    margin: 8px 10px;
}
.track-artists {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(100, 148, 237, 0.472);
    font-size: 0.8em;
}
