.body-container {
    background-color: #141726;
    background-color: transparent;
    background-image: url('../../asserts/images/accessoire_bg2.jpg');
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artistes-list,
.track-list,
.album-list,
.playlist-list {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    transition: transform 0.5s;
}

.titre-categorie {
    margin: 0 30px;
}

.caroussel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.left-arrow,
.rigth-arrow {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    position: absolute;
    font-size: 3em;
    top: 120px;
    z-index: 99;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    border: 0;
    color: #dadae0;
}

.rigth-arrow {
    right: 0px;
}

.search_loader {
    width: 100px;
    height: 100px;
    border-top: 2px solid rgb(37, 37, 37);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid rgb(37, 37, 37);
    animation: 1s spinner infinite ease-in-out;
    margin: 100px auto;
    border-radius: 50%;
}

@media screen and (max-width: 799px) {
    .body-container {
        background-color: #141726;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }

    .caroussel {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }
}