:root {
    --art-width : 180px;
    --art-height: 250px;
}
.artiste-container {
    width: var(--art-width);
    height: var(--art-height);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(87, 85, 85, 0.283);
    margin: 30px;
    box-shadow: 0 0 9px rgba(45, 43, 57, 0.437);
    cursor: pointer;
}

.artiste-container img {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    object-fit: cover;
    border-radius: 50%;
}

.art-image-container {
    width: 100%;
    height: var(--art-width);
    text-align: center;
    overflow: hidden;
}
.art-name-container {
    margin: 8px 10px;
}