
.header-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* La bar pour humburger*/
.bar-humburger {
    display: none;
}

/*Search*/
.search-container {
    padding: 20px 30px;
    display: flex;
    gap: 20px;
}
.input-search {
    width: 250px;
    padding: 8px 10px;
    border: 0px;
    border-radius: 5px;
    font-size: 1.2em;
    outline: none;
}
.btn-search {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #3890D4;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-search:hover {
    background-color: #3299e8;
}
.btn-search:active {
    background-color: #579fd6;
}

/*Connexion*/
.account-container {
    padding: 20px 30px;
}
.btn-connexion {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #3890D4;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-connexion:hover {
    background-color: #3299e8;
}

.btn-connexion:active {
    background-color: #579fd6;
}

.header-categories_selector {
    display: none;
    margin: 0px 20px;
    padding: 8px 15px;
    background-color: white;
    color: var(--color-accent-blue);
    font-size: 1.1em;
    font-weight: bold;
    width: max-content;
    border-radius: 5px;
}


.header-categories_selector * {
    vertical-align: middle;
}


/*Categories*/
.hearder-categories {
    display: inline-flex;
    justify-content: center;
    margin: 0px 30px;
    font-weight: bold;
    background-color: var(--color-accent-blue);
}

.categorie-item {
    transition: border-color 0.5s ;
    cursor: pointer;
    padding: 10px 25px;
    border-bottom: 3px solid transparent;
}
a.categorie-item {
    color: white;
    text-decoration: none;
}
a.categorie-item.active {
    color: var(--color-light-blue);
}
.categorie-item:hover {
    border-bottom: 3px solid #3299e8;
}

.categorie-item.active {
    color: var(--color-blue);
}

@media screen and (max-width: 799px) {
    /* La bar pour humburger*/
    .bar-humburger {
        font-size: 2em;
        font-weight: bold;
        margin: 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .search-container {
        padding: 10px 20px;
        gap: 10px;
    }
    .header-container .account-container {
        display: none;
    }
    .header-categories_selector {
        display: block;
    }
    .hearder-categories {
        display: none;
    }
    .hearder-categories.show-cat {
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        z-index: 100;
        width: 80vw;
        border-radius: 3px;
        box-shadow: 0 0 3px rgb(58, 58, 58);
    }
}
