.sidebar-container {
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    background-color: #141726;
    color: white;
    padding: 20px 15px;
    box-sizing: border-box;
}

@media screen and (min-width: 900px) {
    .sidebar-container {
        min-height: 100vh;
        position: fixed;
    }
}

