.sidebar-container {
    width: 20vw;
    min-width: 150px;
    max-width: 300px;
    background-color: #222640;
    color: white;
    padding: 20px 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5em;
}
.sidebar-close {
    display: none;
}
.sidebar-container div > span {
    cursor: pointer;
    display: block;
    transition: color 0.5s ease-in-out;
}

.sidebar-container div > span:hover {
    color: var(--color-blue) ;
}


@media screen and (min-width: 800px) {
    .sidebar-container {
        min-height: 100vh;
        box-shadow: 0px 0px 4px black;
    }
    .sidebar-container .account-container {
        display: none;
    }
}


@media screen and (max-width: 799px) {
    .sidebar-container {
        transition: transform 0.5s ease-in;
        width: 100vw;
        position: fixed;
        min-height: 100vh;
        box-shadow: 0px 0px 4px black;
        display: block;
        z-index: 100;
        transform: translateX(-100vw);
    }
    .sidebar-container.show-side {
        transform: translateX(0vw);
    }

    .sidebar-close {
        padding-left: 90%;
        display: block;
    }
    .sidebar-account-container {
        position: absolute;
        bottom: 20px;
        left: 10vw;
    }
    .sidebar-container .account-container {
        font-size: 0.8em;
        display: block;
    }
}

