@font-face {
    font-family: 'Volkhov';
    src: url('./asserts/fonts/Volkhov-Regular.ttf');
}

@font-face {
    font-family: 'Volkhov';
    src: url('./asserts/fonts/Volkhov-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./asserts/fonts/Volkhov-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./asserts/fonts/Volkhov-Italic.ttf');
    font-style: italic;
}

:root {
    --color-white: white;
    --color-dark-blue: #141726;
    --color-accent-blue: #222640;
    --color-blue: #4A678C;
    --color-light-blue: #8EACBF;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #2b3131;
}

* {
    font-family: 'Comfortaa';
}